@charset "utf-8";
/* CSS Document */

body{
	margin: 0px auto 0px auto;
	/*background-color:#D9E0E1;*/
	background-color:#f2eee9;

}
#header{
	height:100px;
	margin:auto;
	/*background-color:#4F3C20;*/
	/*background: url("../images/bg.gif") repeat-x;*/
	/*background-color:#214f75;			/*#285b86; satisfactory */
	border-bottom: 1px solid #1a4161;
	background: -webkit-linear-gradient(top, #214f75 0%, #1f517c 100%);
}

#title{
	width:1000px;
	margin: auto;
	
}


#logo{
	position:relative;
	display:inline-block;
	float: left;
	background-color: transparent;
	/*border:2px solid #808040;*/	
}

/*menubar*/

#menuHolder{
	height:30px;
	margin:0px;
	padding:0px;
	border-top: 1px solid #265a85;
	
	/*border-bottom: 1px solid #101665;*/
	background-color:#214f75;/*#285b86/*transparent;
	
	/*background: -webkit-linear-gradient(top, #7d0101 0%, #651110 100%);*/
	/*background:url("../images/menubg.png");*/
}
#menu{
	height:30px;
	width:1000px;
	margin:auto;
	background-color:transparent;
	text-align:left;
	
	
}
#menubar ul{
	position:relative;
	list-style-type: none;
	height: 28px;
	width:800px;
	left: -160px;
	margin: auto;;
	
	
}
#menubar li{
	float: left;
}
#menubar ul a {
/*background-image: url('../images/navi_bg_divider.png');
background-repeat: no-repeat;
background-position: right;*/
padding-right: 20px;
padding-left: 20px;
display: block;
line-height: 28px;
text-decoration: none;
font-size: 20px;
color: #fff;
}
#menubar ul a:hover {

/*color: #2345ff;*/
color:#81c4e1;


}

#textbox{
	
	border-collapse:collapse;
	border-radius:10px;
	width:180px;
	height:20px;
	border:1px solid white;
	-webkit-apperance: textfield;
	float:left;
}
#searchbox{
	width: 205px;
	display: inline-block;
	border-radius:10px;
	background-color: white;
	float:right;
	margin-top:30px;
	
}
#search{
	border:0;
	background: url("../images/search_button.gif") no-repeat top left;
	height: 20px;
	margin-top: 2px;
	text-indent: -9999px;
	width: 20px;
	float: right;
	-webkit-apperance: button;
	
}
#content1{
	margin: 0px auto 0px auto;
	width:1000px;
	height:400px;
}

#links{
	position:relative;
	display:inline-block;
	background:url("../images/top.gif") no-repeat top left;
	vertical-align:top;
	text-align:right;
	float: right;
	width:160px;
	height:400px;
	margin-top:5px;
}
.gateways{
	border-top:4px solid #265a85;

}
.gateways ul {
	list-style:none;
}
#content2{
	margin: 0px auto 0px auto;
	width:1000px;
	height:300px;
}

#eventcontainer{
	width:220px;
	float:left;
	position:relative;
	height:290px;
	background:url("../images/topdot.gif") no-repeat top right;
	/*border:1px solid black;*/
	margin-top:5px;
}
#events{
	border-top:4px solid #265a85;
}
#contentmid{
	width: 500px;
	height:290px;
	margin-top:4px;
	margin-left:5px;
	position:relative;
	float:left;
	
}
#life{
	width:240px;
	float:right;
	position:relative;
	height:290px;
	border:1px solid black;
	margin-top:3px;
}
#enum{
	text-decoration: none;
	font-size: 20px;
	color: gray;	
}
#etext{
	text-decoration: none;
	font-size: 15px;
	color: black;
}
#news{
	width: 495px;
	height:190px;
	border:1px solid black;
}
#research{
	width: 495px;
	height:90px;
	margin-top:5px;
	border:1px solid black;
}
#footer{
	height:150px;
	background-color:#272727;
}
#copy{
	height:25px;
	background-color:#C0C0C0
}
#slides{
	width: 600px;
	height:337px;
	background-color:#FC0;
}


/* menubar gradient background */

#menubackground {

}