@charset "utf-8";
/* CSS Document */

body{
	margin: 0px auto 0px auto;
	/*background-color:#D9E0E1;*/
	background-color:#f2eee9;
	color: #333333;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-size: 0.875em;

}

h2{
	font-size: 1em;
}
#header{
	height:100px;
	margin:auto;
	/*background-color:#4F3C20;*/
	/*background: url("../images/bg.gif") repeat-x;*/
	/*background-color:#214f75;			/*#285b86; satisfactory */
	border-bottom: 1px solid #1a4161;
	background: -webkit-linear-gradient(top, #214f75 0%, #1f517c 100%);
}

#title{
	width:1000px;
	margin: auto;
	
}


#logo{
	position:relative;
	display:inline-block;
	float: left;
	background-color: transparent;
	/*border:2px solid #808040;*/	
}

/*menubar*/

#menuHolder{
	height:30px;
	margin:0px;
	padding:0px;
	border-top: 1px solid #265a85;
	
	/*border-bottom: 1px solid #101665;*/
	background-color:#214f75;/*#285b86/*transparent;
	
	/*background: -webkit-linear-gradient(top, #7d0101 0%, #651110 100%);*/
	/*background:url("../images/menubg.png");*/
	
	font-size: small;
}
#menu{
	height:30px;
	width:1000px;
	margin:auto;
	background-color:transparent;
	text-align:left;
	
	
}
#menubar ul{
	position:relative;
	list-style-type: none;
	height: 28px;
	width:800px;
	left: -160px;
	margin: auto;;
	
	
}
#menubar li{
	float: left;
}
#menubar ul a {
/*background-image: url('../images/navi_bg_divider.png');
background-repeat: no-repeat;
background-position: right;*/
padding-right: 20px;
padding-left: 20px;
display: block;
line-height: 28px;
text-decoration: none;
font-size: 20px;



}
#menubar ul a:hover {

/*color: #2345ff;*/
color:#81c4e1;


}

#textbox{
	
	border-collapse:collapse;
	border-radius:10px;
	width:180px;
	height:20px;
	border:1px solid white;
	-webkit-apperance: textfield;
	float:left;
}
#searchbox{
	width: 205px;
	display: inline-block;
	border-radius:10px;
	background-color: white;
	float:right;
	margin-top:30px;
	
}
#search{
	border:0;
	background: url("../images/search_button.gif") no-repeat top left;
	height: 20px;
	margin-top: 2px;
	text-indent: -9999px;
	width: 20px;
	float: right;
	-webkit-apperance: button;
	
}
#content1{
	margin: 0px auto 0px auto;
	width:1000px;
	height:400px;
}



#links{
	position:relative;
	display:inline-block;
	/*background:url(../images/top.gif) no-repeat top left;*/
	background-color: #fff;
	vertical-align:top;
	text-align:right;
	float: right;
	width:180px;
	height:400px;
	margin-top:5px;
	visibility: hidden;
	

}

#link-container{
	
	background: -webkit-linear-gradient(top, #efedeb 0%, #f2eee9 100%);
	width:160px;
	height:375px;
	margin:auto;

}

.gateways{
	border-top:4px solid #265a85;
	margin-top: -10px;
	

}
.gateways-container{
	
	width: 170px;
	margin: auto;
	
	/*background:url(../images/topdot.gif) no-repeat top left;*/
	
	
}

.gateways ul {
	list-style:none;
}
#content2container{
margin-top:10px;
padding:0px;
border-bottom:1px solid #23313e;

}
#content2{
	margin: 0px auto 0px auto;
	width:1000px;
	height:300px;
	background-color: #fff;
}

#eventcontainer{
	width:200px;
	float:left;
	position:relative;
	height:290px;
	background: -webkit-linear-gradient(top, #efedeb 0%, #f2eee9 100%);
	/*background:url(../images/topdot.gif) no-repeat top right;*/
	/*border:1px solid black;*/
	margin:10px 10px 10px 10px;
	padding: 0 5px 0 5px;
}
#events{
	border-top:4px solid #265a85;
}
#contentmid{
	width: 500px;
	height:290px;
	margin-top:0px;
	margin-left:0px;
	position:relative;
	float:left;
	
}
#lifecontainer{
	background: -webkit-linear-gradient(top, #efedeb 0%, #f2eee9 100%);
/*	background:url(../images/topdot.gif) no-repeat top right;*/
	width:240px;
	float:right;
	position:relative;
	height:290px;
	/*border:1px solid black;*/
	margin-top:10px;
	margin-right:10px;
}
#life{
	border-top:4px solid #265a85;
}
#newscontainer{
	/*background:url(../images/topdot.gif) no-repeat top right;*/
	background: -webkit-linear-gradient(top, #efedeb 0%, #f2eee9 100%);
	margin: 10px 0 0 10px;
	width: 495px;
}
#news{
	width: 495px;
	height:100px;
	border-top:4px solid #265a85;
	/*border:1px solid black;*/
}
#researchcontainer{
	/*background:url(../images/topdot.gif) no-repeat top right;*/
	background: -webkit-linear-gradient(top, #efedeb 0%, #f2eee9 100%);
	margin: 10px 0 0 10px;
	width: 495px;
}
#research{
	width: 495px;
	height:60px;
	border-top:4px solid #265a85;
}
#research img {
	margin :8px 8px 0px 8px;
	-webkit-box-shadow: 0px 5px 5px #999999;
	border:2px solid white;
}
#footer{
	border-top:6px solid #46647c;
	height:150px;
	background-color:#163650;
}
#copyright{
	height:25px;
	background-color:#3e5a71;
	text-align:center;
	border-top: 1px solid #1a4161;
	font-weight:bold;
	color:#fff;
}
#slides{
	width: 600px;
	height:337px;
	background-color:#FC0;
}


/* menubar gradient background */

#menubackground {

}

/*_-_-_-_-_-_-_-_-_About Page_-_-_-_-_-_-_-_-_-_-_-*/
#acontent{
	width:1000px;
	margin:auto;
	height:950px;
}
#acontent p {
	text-align:justify;
}
.smenu{
	width:220px;
	display:inline-block;
	position:relative;
	float:left;
	background: -webkit-linear-gradient(top, #efedeb 0%, #f2eee9 100%);
}
.smenu li{
	display:block;
	list-style: none;
	background: #e8e8e8;
	border-bottom: 1px solid #fff;
	height: 30px;
	background: url("../images/topdot.gif") no-repeat left top;
	text-indent: 15px;
}

.smenu li a{
	color:#6b6b6b;
	text-decoration:none;
	font-size: 1em;
}
.smenu li a:hover{
	color:#6b6b6b;
	text-decoration:none;
	font-size: 1em;
	font-weight: bold;
}


.scont{
	width:760px;
	display:inline-block;
	position:relative;
	float:right;
	border-left: 1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
	padding: 10px 5px 10px 10px;
	margin-top: 5px;
}

.scont p ,.scont li{
	font-family: Century Gothic, sans-serif;
	font-size: 0.9em;
	color:#214f75;
}

.scont p{
	margin-bottom: 40px;
}

.scont h2{
	font-family: Century Gothic, sans-serif;
	font-size: 1.2em;
	color:#6b6b6b;
}

.scont h3{
	font-family: Century Gothic, sans-serif;
	font-size: 0.98em;
	color:#6b6b6b;
}

.scont a{
	text-decoration: none;
	color: #6b6b6b;
}

.scont table{
	border: 0px solid #6b6b6b;

}

.scont tr{
	background-color: #e8e8e8;
}

.scont tr:first-child{
	background-color: #dcddde;
	font-weight: bold;
}

.scont td{
	text-align: center;
}
